*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}
/* header */

.clearfix:after{
    display: table;
    content: "";
    clear: both;
}
    
#sx{
    float: left;
    margin-left: 30px;
    /* debug */
    /* height: 100px;
    width: 25%;
    background-color: blueviolet; */
}
#sx img{
    vertical-align: middle;
}
ul, li{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
}
li{
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: black;
}

#dx{
    float: right;
    margin-right: 30px;
    /* debug */
    /* height: 100px;
    width: 25%;
    background-color: blueviolet; */
}
#inizia{
    background-color: rgb(45, 120, 241);
    color: white;
    padding: 5px 15px;
    font-weight: normal;
}

/* Jumbotron */
#jumbotron::after{
    clear: both;
    display: table;
    content: "";
}
#jumbotron{
    height: 900px;
    background-color:rgba(105,201,250,255);

    width: 100%;
}
#suec{
    margin-left: 7%;
}
#jumbo1{
    float: left;
    display: inline-block;
    width: 30%;
    margin-left: 7%;
    margin-top: 40px;
}

#jumbotitle{
    font-size: 120px;
    padding-top: 90px;
}
#jumbotron p{
    width: 20%;
    font-size: 20px;
}
.button{
    height: 40px;
    width: 300px;
    background-color:rgb(45, 120, 241);
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    border: solid .5px black;
}


.fa-arrow-down{
    margin-top: 20px;
    font-size: 30px;
    display: block;
}

#jumbo2{
    float: left;
    width: 60%;
    height: 550px;
    margin-top: 40px;
}
#jumboimage{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
/* main */

.container{
    width: 70%;
    margin: 0 auto;
    margin-top: 300px;
    /* debug */
    
}
#circle0{
  height: 20px;
  width: 20px;
  background-color:white;
  border-radius: 50%;
  border: blue solid 5px;
  display: inline-block;
  margin-top: 50px;
}
#circle1{
    height: 20px;
    width: 20px;
    background-color:white;
    border-radius: 50%;
    border: solid black 1px;
    display: inline-block;
    margin-top: 50px;
  }
  .fatturazione{
      margin-left: 0;
  }

  .tariffa{
      display: inline-block;
      float: left;
      width: calc(90% / 3);
      margin: 40px 3% 0 0;
      border: solid 3px rgba(128, 127, 127, 0.507);
      text-align: left;
      font-size: 20px;
      height: 1300px;
  }
  .tariffa span{
      color: grey;
  }

.tariffa h2,h3,span,.button,h4{
    margin-top: 40px;
    margin-left: 40px;
}

.user{
    margin-top: 40px;
    margin-left: 40px;
}
.tariffa a{
    color: blue;
}
.bordino{
    border-top: rgb(65, 64, 64) solid 1px;
    width: 60px;
    margin-top: 40px;
    margin-left: 40px;
}
.fa-check{
    color: blue;
}

.choose{
      border-bottom: solid 3px rgba(128, 127, 127, 0.507);
      text-align: center;
      padding: 10px;
  }

#enterprisecontainer::after{
    content: "";
    display: table;
    clear: both;
}

#enterprisecontainer{
    margin-top: 100px;
    width: 100%;
    border: grey solid 1px;
    padding-bottom: 40px;
    /* debug */
    
}
#team{
    border-bottom: grey solid 1px;
    padding: 20px;
    text-align: center;
}
#textteamsx{
    float: left;
    width: 60%;
    /* debug */
}
#textteamdx{
    float: left;
    width: 40%;
    /* debug */
}
#textteamsx p{
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;
}
#textteamdx .button{
    float: right;
    margin-right: 30px;
}

#partnercontainer::after{
    content: "";
    display: table;
    clear: both;
}
#partnercontainer{
    margin-top: 100px;
    width: 100%;
    /* debug */
}
#partnersx{
    float: left;
    width: 60%;
    height: 800px;
    /* debug */
}
#partnersx img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
#partnerdx{
    float: left;
    width: 40%;
    height: 500px;
    /* debug */
}
#partnerdx p{
    font-size: 25px;
    margin-top: 40px;
    margin-left: 40px;
}
#partnerdx .button{
    background-color: white;
    color: black;
}
#businesstitle{
    margin-top: 100px;
}

#businesscontainer::after{
    content: "";
    display: table;
    clear: both;
}
#businesscontainer{
    width: 100%;
    margin-top: 60px;
    /* debug */
    height: 1000px;
}
.businessup{
    float: left;
    width: calc(100% / 3);
    display: inline-block;
    /* debug */
    height: 800px;
}
.businessup, img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.businessup h4{
    margin-left: 0;
}
.businessup, p{
    margin-top: 40px;
}

.businessdown{
    float: left;
    width: calc(100% / 3);
    display: inline-block;
    margin-top: 50px;
    height: 800px;
    /* debug */
}
.businessdown img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.businessdown h4{
    margin-left: 0;
}
.businessdown p{
    margin-top: 40px;
}